.navigation-bar-wrapper {
  display: contents;
}
.navigation-bar-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.navigation-bar-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: idth;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.navigation-bar-nav-bar-photo {
  height: 4rem;
  border-radius: var(--dl-radius-radius-round);
}
.navigation-bar-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.navigation-bar-menu {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navigation-bar-home-link1 {
  transition: 0.3s;
  text-decoration: none;
}

.navigation-bar-schedule-link1 {
  text-decoration: none;
}
.navigation-bar-writeups-link1 {
  text-decoration: none;
}
.navigation-bar-team-link1 {
  text-decoration: none;
}
.navigation-bar-icons1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-bar-link1 {
  display: contents;
}
.navigation-bar-icon10 {
  align-self: center;
  text-decoration: none;
}
.navigation-bar-link2 {
  display: contents;
}
.navigation-bar-icon12 {
  text-decoration: none;
}
.navigation-bar-burger-menu {
  display: none;
}
.navigation-bar-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navigation-bar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
.navigation-bar-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navigation-bar-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navigation-bar-photo {
  height: 3rem;
}
.navigation-bar-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-bar-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navigation-bar-links {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.navigation-bar-home-link2 {
  text-decoration: none;
}
.navigation-bar-schedule-link2 {
  text-decoration: none;
}
.navigation-bar-writeups-link2 {
  text-decoration: none;
}
.navigation-bar-team-link2 {
  text-decoration: none;
}
.navigation-bar-icons2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
.navigation-bar-link3 {
  display: contents;
}
.navigation-bar-icon18 {
  text-decoration: none;
}
.navigation-bar-link4 {
  display: contents;
}
.navigation-bar-icon20 {
  text-decoration: none;
}
.home-fragment13 {
  display: contents;
}
.home-text13 {
  display: inline-block;
}
.home-fragment12 {
  display: contents;
}
.home-text12 {
  display: inline-block;
}
.home-fragment10 {
  display: contents;
}
.home-text10 {
  display: inline-block;
}
.home-fragment11 {
  display: contents;
}
.home-text11 {
  display: inline-block;
}
@media(max-width: 1200px) {
  .navigation-bar-nav-bar-photo {
    align-self: center;
  }
  .navigation-bar-burger-menu {
    position: relative;
  }
  .navigation-bar-icon14 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    align-self: stretch;
  }
  .navigation-bar-icon16 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
}
@media(max-width: 767px) {
  .navigation-bar-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navigation-bar-desktop-menu {
    display: none;
  }
  .navigation-bar-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .navigation-bar-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navigation-bar-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}

.team-information-wrapper {
  display: contents;
}
.team-information-header19 {
  width: 1142px;
}
.team-information-max-width {
  align-self: center;
}
.team-information-uni-wa-image {
  width: 100%;
  height: auto;
  max-width: 550px;
  border-radius: var(--dl-radius-radius-radius4);
}
.team-information-team-information {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team-information-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.team-information-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team-information-global-ranking-button {
  fill: blue;
  color: blue;
  transition: 0.3s;
  border-color: blue;
  text-decoration: none;
  background-color: transparent;
}
.team-information-global-ranking-button:hover {
  fill: white;
  color: white;
  border-color: var(--dl-color-theme-primary2);
  background-color: var(--dl-color-theme-primary2);
}
.team-information-country-ranking-button {
  fill: blue;
  color: blue;
  transition: 0.3s;
  border-color: blue;
  text-decoration: none;
}
.team-information-country-ranking-button:hover {
  fill: white;
  color: white;
  border-color: var(--dl-color-theme-primary2);
  background-color: var(--dl-color-theme-primary2);
}
.home-fragment16 {
  display: contents;
}
.home-text18 {
  display: inline-block;
}
.home-fragment14 {
  display: contents;
}
.home-text16 {
  display: inline-block;
}
.home-fragment17 {
  display: contents;
}
.home-text29 {
  display: inline-block;
}
.home-fragment15 {
  display: contents;
}
.home-text17 {
  display: inline-block;
}
@media(max-width: 991px) {
  .team-information-header19 {
    width: 941px;
  }
  .team-information-max-width {
    flex-direction: column;
  }
  .team-information-uni-wa-image {
    width: 100%;
    max-width: 100%;
  }
}
@media(max-width: 767px) {
  .team-information-header19 {
    width: 767px;
  }
}
@media(max-width: 479px) {
  .team-information-header19 {
    width: 479px;
  }
  .team-information-actions {
    width: 100%;
    flex-direction: column;
  }
  .team-information-global-ranking-button {
    width: 100%;
  }
  .team-information-country-ranking-button {
    width: 100%;
  }
  .home-text18 {
    text-align: center;
  }
  .home-text29 {
    text-align: center;
  }
}

.ctf-schedule-wrapper {
  display: contents;
}
.ctf-schedule-layout349 {
  gap: var(--dl-space-space-twounits);
  width: 1200px;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.ctf-schedule-max-width {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ctf-schedule-general-ctf-container {
  width: 100%;
  height: auto;
}
.ctf-schedule-ctf-info-card1 {
  color: var(--dl-color-theme-neutral-light);
  height: auto;
  display: flex;
  align-self: flex-start;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-theme-primary2);
}
.ctf-schedule-ctf-info-card1:hover {
  background-color: var(--dl-color-theme-primary1);
}
.ctf-schedule-ctf-photo1 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  border-radius: 0px;
}
.ctf-schedule-ctf-info-card2 {
  color: var(--dl-color-theme-neutral-light);
  height: auto;
  display: flex;
  align-self: flex-start;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-theme-primary2);
}
.ctf-schedule-ctf-info-card2:hover {
  background-color: var(--dl-color-theme-primary1);
}
.ctf-schedule-ctf-photo2 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  border-radius: 0px;
}
.ctf-schedule-ctf-info-card3 {
  color: var(--dl-color-theme-neutral-light);
  height: auto;
  display: flex;
  align-self: flex-start;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-theme-primary2);
}
.ctf-schedule-ctf-info-card3:hover {
  background-color: var(--dl-color-theme-primary1);
}
.ctf-schedule-ctf-photo3 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  border-radius: 0px;
}
.home-fragment21 {
  display: contents;
}
.home-text35 {
  display: inline-block;
}
.home-fragment19 {
  display: contents;
}
.home-text33 {
  display: inline-block;
}
.home-fragment22 {
  display: contents;
}
.home-text36 {
  display: inline-block;
}
.home-fragment20 {
  display: contents;
}
.home-text34 {
  display: inline-block;
}
.home-fragment18 {
  display: contents;
}
.home-text30 {
  display: inline-block;
}
.home-fragment24 {
  display: contents;
}
.home-text38 {
  display: inline-block;
}
.home-fragment23 {
  display: contents;
}
.home-text37 {
  display: inline-block;
}
@media(max-width: 1200px) {
  .ctf-schedule-layout349 {
    height: auto;
    padding-top: var(--dl-space-space-fiveunits);
    margin-bottom: 0px;
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .ctf-schedule-max-width {
    position: relative;
  }
  .ctf-schedule-general-ctf-container {
    height: auto;
  }
}
@media(max-width: 991px) {
  .ctf-schedule-layout349 {
    width: 936px;
    height: auto;
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .ctf-schedule-max-width {
    height: auto;
    flex-direction: column;
  }
  .ctf-schedule-general-ctf-container {
    height: auto;
  }
}
@media(max-width: 767px) {
  .ctf-schedule-layout349 {
    width: 767px;
    height: auto;
  }
  .ctf-schedule-max-width {
    height: 560px;
  }
  .ctf-schedule-ctf-info-card1 {
    width: 100%;
  }
  .ctf-schedule-ctf-info-card2 {
    width: 100%;
  }
  .ctf-schedule-ctf-info-card3 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .ctf-schedule-layout349 {
    width: 479px;
    height: auto;
    margin-left: 0px;
  }
  .ctf-schedule-max-width {
    height: auto;
  }
  .ctf-schedule-general-ctf-container {
    height: auto;
    margin-bottom: 1px;
  }
}

.footer-wrapper {
  display: contents;
}
.footer-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-credits {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-social-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
}
.footer-link1 {
  display: contents;
}
.footer-icon1 {
  text-decoration: none;
}
.footer-link2 {
  display: contents;
}
.footer-icon3 {
  text-decoration: none;
}
.home-fragment25 {
  display: contents;
}
.home-text39 {
  display: inline-block;
  align-self: center;
}

@media(max-width: 1200px) {
  .footer-container {
    padding-top: 0px;
  }
}
@media(max-width: 991px) {
  .footer-credits {
    flex-direction: column;
  }
  .footer-social-links {
    align-self: center;
  }
}
@media(max-width: 767px) {
  .footer-credits {
    flex-direction: column;
  }
  .footer-social-links {
    align-self: center;
  }
}
@media(max-width: 479px) {
  .footer-social-links {
    align-items: center;
    justify-content: center;
  }
  .footerroot-class-name {
    top: var(--dl-space-space-halfunit);
    left: 0px;
    bottom: 0px;
    height: auto;
    position: static;
  }
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-fragment10 {
  display: contents;
}
.home-text10 {
  display: inline-block;
}
.home-fragment11 {
  display: contents;
}
.home-text11 {
  display: inline-block;
}
.home-fragment12 {
  display: contents;
}
.home-text12 {
  display: inline-block;
}
.home-fragment13 {
  display: contents;
}
.home-text13 {
  display: inline-block;
}
.home-fragment14 {
  display: contents;
}
.home-text16 {
  display: inline-block;
}
.home-fragment15 {
  display: contents;
}
.home-text17 {
  display: inline-block;
}
.home-fragment16 {
  display: contents;
}
.home-text18 {
  display: inline-block;
}
.home-fragment17 {
  display: contents;
}
.home-text29 {
  display: inline-block;
}
.home-fragment18 {
  display: contents;
}
.home-text30 {
  display: inline-block;
}
.home-fragment19 {
  display: contents;
}
.home-text33 {
  display: inline-block;
}
.home-fragment20 {
  display: contents;
}
.home-text34 {
  display: inline-block;
}
.home-fragment21 {
  display: contents;
}
.home-text35 {
  display: inline-block;
}
.home-fragment22 {
  display: contents;
}
.home-text36 {
  display: inline-block;
}
.home-fragment23 {
  display: contents;
}
.home-text37 {
  display: inline-block;
}
.home-fragment24 {
  display: contents;
}
.home-text38 {
  display: inline-block;
}
.home-fragment25 {
  display: contents;
}
.home-text39 {
  display: inline-block;
  align-self: center;
}
@media(max-width: 479px) {
  .home-text18 {
    text-align: center;
  }
  .home-text29 {
    text-align: center;
  }
}
