.navigation-bar-wrapper {
  display: contents;
}
.navigation-bar-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.navigation-bar-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: idth;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.navigation-bar-nav-bar-photo {
  height: 4rem;
  border-radius: var(--dl-radius-radius-round);
}
.navigation-bar-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.navigation-bar-menu {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navigation-bar-home-link1 {
  transition: 0.3s;
  text-decoration: none;
}

.navigation-bar-schedule-link1 {
  text-decoration: none;
}
.navigation-bar-writeups-link1 {
  text-decoration: none;
}
.navigation-bar-team-link1 {
  text-decoration: none;
}
.navigation-bar-icons1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-bar-link1 {
  display: contents;
}
.navigation-bar-icon10 {
  align-self: center;
  text-decoration: none;
}
.navigation-bar-link2 {
  display: contents;
}
.navigation-bar-icon12 {
  text-decoration: none;
}
.navigation-bar-burger-menu {
  display: none;
}
.navigation-bar-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navigation-bar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
.navigation-bar-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navigation-bar-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navigation-bar-photo {
  height: 3rem;
}
.navigation-bar-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-bar-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navigation-bar-links {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.navigation-bar-home-link2 {
  text-decoration: none;
}
.navigation-bar-schedule-link2 {
  text-decoration: none;
}
.navigation-bar-writeups-link2 {
  text-decoration: none;
}
.navigation-bar-team-link2 {
  text-decoration: none;
}
.navigation-bar-icons2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
.navigation-bar-link3 {
  display: contents;
}
.navigation-bar-icon18 {
  text-decoration: none;
}
.navigation-bar-link4 {
  display: contents;
}
.navigation-bar-icon20 {
  text-decoration: none;
}
.schedule-fragment13 {
  display: contents;
}
.schedule-text13 {
  display: inline-block;
}
.schedule-fragment12 {
  display: contents;
}
.schedule-text12 {
  display: inline-block;
}
.schedule-fragment10 {
  display: contents;
}
.schedule-text10 {
  display: inline-block;
}
.schedule-fragment11 {
  display: contents;
}
.schedule-text11 {
  display: inline-block;
}
@media(max-width: 1200px) {
  .navigation-bar-nav-bar-photo {
    align-self: center;
  }
  .navigation-bar-burger-menu {
    position: relative;
  }
  .navigation-bar-icon14 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    align-self: stretch;
  }
  .navigation-bar-icon16 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
}
@media(max-width: 767px) {
  .navigation-bar-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navigation-bar-desktop-menu {
    display: none;
  }
  .navigation-bar-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .navigation-bar-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navigation-bar-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}

.ctf-timeline-schedule-wrapper {
  display: contents;
}
.ctf-timeline-schedule-max-width {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.ctf-timeline-schedule-schedule-container {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ctf-timeline-schedule-timeline-container {
  flex: 1;
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ctf-timeline-schedule-time3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.ctf-timeline-schedule-line-container1 {
  flex: 1;
  left: var(--dl-space-space-halfunit);
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.ctf-timeline-schedule-container2 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.ctf-timeline-schedule-progress01 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.ctf-timeline-schedule-ctf-info-container1 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.ctf-timeline-schedule-link1 {
  display: contents;
}
.ctf-timeline-schedule-text12 {
  transition: 0.3s;
  text-decoration: none;
}

.ctf-timeline-schedule-time2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.ctf-timeline-schedule-line-container2 {
  flex: 1;
  left: var(--dl-space-space-halfunit);
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.ctf-timeline-schedule-container3 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.ctf-timeline-schedule-progress02 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.ctf-timeline-schedule-ctf-info-container2 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.ctf-timeline-schedule-link2 {
  display: contents;
}
.ctf-timeline-schedule-text15 {
  transition: 0.3s;
  text-decoration: none;
}

.ctf-timeline-schedule-time1 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.ctf-timeline-schedule-line-container3 {
  flex: 1;
  left: var(--dl-space-space-halfunit);
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.ctf-timeline-schedule-container4 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.ctf-timeline-schedule-progress03 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.ctf-timeline-schedule-ctf-info-container3 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.ctf-timeline-schedule-link3 {
  display: contents;
}
.ctf-timeline-schedule-text18 {
  transition: 0.3s;
  text-decoration: none;
}

.schedule-fragment19 {
  display: contents;
}
.schedule-text21 {
  display: inline-block;
}
.schedule-text21:hover {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
}
.schedule-fragment14 {
  display: contents;
}
.schedule-text16 {
  display: inline-block;
}
.schedule-fragment16 {
  display: contents;
}
.schedule-text18 {
  display: inline-block;
}
.schedule-fragment20 {
  display: contents;
}
.schedule-text22 {
  display: inline-block;
}
.schedule-fragment17 {
  display: contents;
}
.schedule-text19 {
  display: inline-block;
}
.schedule-fragment21 {
  display: contents;
}
.schedule-text23 {
  display: inline-block;
}
.schedule-text23:hover {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
}
.schedule-fragment18 {
  display: contents;
}
.schedule-text20 {
  display: inline-block;
}
.schedule-fragment22 {
  display: contents;
}
.schedule-text24 {
  display: inline-block;
}
.schedule-fragment15 {
  display: contents;
}
.schedule-text17 {
  display: inline-block;
}
.schedule-fragment23 {
  display: contents;
}
.schedule-text25 {
  display: inline-block;
}
.schedule-text25:hover {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
}
@media(max-width: 991px) {
  .ctf-timeline-schedule-max-width {
    gap: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .ctf-timeline-schedule-max-width {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .schedule-text21 {
    text-align: left;
  }
  .schedule-text23 {
    text-align: left;
  }
  .schedule-text25 {
    text-align: left;
  }
}
@media(max-width: 479px) {
  .ctf-timeline-schedule-max-width {
    padding: var(--dl-space-space-unit);
  }
}

.footer-wrapper {
  display: contents;
}
.footer-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-credits {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-social-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
}
.footer-link1 {
  display: contents;
}
.footer-icon1 {
  text-decoration: none;
}
.footer-link2 {
  display: contents;
}
.footer-icon3 {
  text-decoration: none;
}
.schedule-fragment24 {
  display: contents;
}
.schedule-text26 {
  display: inline-block;
  align-self: center;
}

@media(max-width: 1200px) {
  .footer-container {
    padding-top: 0px;
  }
}
@media(max-width: 991px) {
  .footer-credits {
    flex-direction: column;
  }
  .footer-social-links {
    align-self: center;
  }
}
@media(max-width: 767px) {
  .footer-credits {
    flex-direction: column;
  }
  .footer-social-links {
    align-self: center;
  }
}
@media(max-width: 479px) {
  .footer-social-links {
    align-items: center;
    justify-content: center;
  }
  .footerroot-class-name {
    top: var(--dl-space-space-halfunit);
    left: 0px;
    bottom: 0px;
    height: auto;
    position: static;
  }
}

.schedule-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.schedule-fragment10 {
  display: contents;
}
.schedule-text10 {
  display: inline-block;
}
.schedule-fragment11 {
  display: contents;
}
.schedule-text11 {
  display: inline-block;
}
.schedule-fragment12 {
  display: contents;
}
.schedule-text12 {
  display: inline-block;
}
.schedule-fragment13 {
  display: contents;
}
.schedule-text13 {
  display: inline-block;
}
.schedule-fragment14 {
  display: contents;
}
.schedule-text16 {
  display: inline-block;
}
.schedule-fragment15 {
  display: contents;
}
.schedule-text17 {
  display: inline-block;
}
.schedule-fragment16 {
  display: contents;
}
.schedule-text18 {
  display: inline-block;
}
.schedule-fragment17 {
  display: contents;
}
.schedule-text19 {
  display: inline-block;
}
.schedule-fragment18 {
  display: contents;
}
.schedule-text20 {
  display: inline-block;
}
.schedule-fragment19 {
  display: contents;
}
.schedule-text21 {
  display: inline-block;
}
.schedule-text21:hover {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
}
.schedule-fragment20 {
  display: contents;
}
.schedule-text22 {
  display: inline-block;
}
.schedule-fragment21 {
  display: contents;
}
.schedule-text23 {
  display: inline-block;
}
.schedule-text23:hover {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
}
.schedule-fragment22 {
  display: contents;
}
.schedule-text24 {
  display: inline-block;
}
.schedule-fragment23 {
  display: contents;
}
.schedule-text25 {
  display: inline-block;
}
.schedule-text25:hover {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
}
.schedule-fragment24 {
  display: contents;
}
.schedule-text26 {
  display: inline-block;
  align-self: center;
}
@media(max-width: 767px) {
  .schedule-text21 {
    text-align: left;
  }
  .schedule-text23 {
    text-align: left;
  }
  .schedule-text25 {
    text-align: left;
  }
}
