.navigation-bar-wrapper {
  display: contents;
}
.navigation-bar-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.navigation-bar-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: idth;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.navigation-bar-nav-bar-photo {
  height: 4rem;
  border-radius: var(--dl-radius-radius-round);
}
.navigation-bar-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.navigation-bar-menu {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navigation-bar-home-link1 {
  transition: 0.3s;
  text-decoration: none;
}

.navigation-bar-schedule-link1 {
  text-decoration: none;
}
.navigation-bar-writeups-link1 {
  text-decoration: none;
}
.navigation-bar-team-link1 {
  text-decoration: none;
}
.navigation-bar-icons1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-bar-link1 {
  display: contents;
}
.navigation-bar-icon10 {
  align-self: center;
  text-decoration: none;
}
.navigation-bar-link2 {
  display: contents;
}
.navigation-bar-icon12 {
  text-decoration: none;
}
.navigation-bar-burger-menu {
  display: none;
}
.navigation-bar-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navigation-bar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
.navigation-bar-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navigation-bar-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navigation-bar-photo {
  height: 3rem;
}
.navigation-bar-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-bar-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navigation-bar-links {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.navigation-bar-home-link2 {
  text-decoration: none;
}
.navigation-bar-schedule-link2 {
  text-decoration: none;
}
.navigation-bar-writeups-link2 {
  text-decoration: none;
}
.navigation-bar-team-link2 {
  text-decoration: none;
}
.navigation-bar-icons2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
.navigation-bar-link3 {
  display: contents;
}
.navigation-bar-icon18 {
  text-decoration: none;
}
.navigation-bar-link4 {
  display: contents;
}
.navigation-bar-icon20 {
  text-decoration: none;
}
.team-fragment13 {
  display: contents;
}
.team-text13 {
  display: inline-block;
}
.team-fragment12 {
  display: contents;
}
.team-text12 {
  display: inline-block;
}
.team-fragment10 {
  display: contents;
}
.team-text10 {
  display: inline-block;
}
.team-fragment11 {
  display: contents;
}
.team-text11 {
  display: inline-block;
}
@media(max-width: 1200px) {
  .navigation-bar-nav-bar-photo {
    align-self: center;
  }
  .navigation-bar-burger-menu {
    position: relative;
  }
  .navigation-bar-icon14 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    align-self: stretch;
  }
  .navigation-bar-icon16 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
}
@media(max-width: 767px) {
  .navigation-bar-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navigation-bar-desktop-menu {
    display: none;
  }
  .navigation-bar-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .navigation-bar-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navigation-bar-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}

.team-members-information-wrapper {
  display: contents;
}
.team-members-information-max-width {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.team-members-information-team-title {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team-members-information-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team-members-information-content2 {
  gap: var(--dl-space-space-sixunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team-members-information-people {
  gap: 64px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.team-members-information-row {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.team-members-information-container1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
.team-members-information-card1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team-members-information-placeholder-image1 {
  width: 80px;
  height: 80px;
}
.team-members-information-content3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team-members-information-title1 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team-members-information-social-icons1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team-members-information-link10 {
  display: contents;
}
.team-members-information-icon10 {
  text-decoration: none;
}
.team-members-information-link11 {
  display: contents;
}
.team-members-information-icon12 {
  text-decoration: none;
}
.team-members-information-link12 {
  display: contents;
}
.team-members-information-icon14 {
  text-decoration: none;
}
.team-members-information-card2 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team-members-information-placeholder-image2 {
  width: 80px;
  height: 80px;
}
.team-members-information-content4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team-members-information-title2 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team-members-information-social-icons2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team-members-information-link13 {
  display: contents;
}
.team-members-information-icon16 {
  text-decoration: none;
}
.team-members-information-link14 {
  display: contents;
}
.team-members-information-icon18 {
  text-decoration: none;
}
.team-members-information-link15 {
  display: contents;
}
.team-members-information-icon20 {
  text-decoration: none;
}
.team-members-information-container2 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.team-members-information-card3 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team-members-information-placeholder-image3 {
  width: 80px;
  height: 80px;
}
.team-members-information-content5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team-members-information-title3 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team-members-information-social-icons3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team-members-information-link16 {
  display: contents;
}
.team-members-information-icon22 {
  text-decoration: none;
}
.team-members-information-link17 {
  display: contents;
}
.team-members-information-icon24 {
  text-decoration: none;
}
.team-members-information-link18 {
  display: contents;
}
.team-members-information-icon26 {
  text-decoration: none;
}
.team-members-information-card4 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team-members-information-placeholder-image4 {
  width: 80px;
  height: 80px;
}
.team-members-information-content6 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team-members-information-title4 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team-members-information-social-icons4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team-members-information-link19 {
  display: contents;
}
.team-members-information-icon28 {
  text-decoration: none;
}
.team-members-information-link20 {
  display: contents;
}
.team-members-information-icon30 {
  text-decoration: none;
}
.team-members-information-link21 {
  display: contents;
}
.team-members-information-icon32 {
  text-decoration: none;
}
.team-members-information-hiring {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-direction: column;
}
.team-members-information-content7 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team-fragment19 {
  display: contents;
}
.team-text24 {
  display: inline-block;
}
.team-fragment27 {
  display: contents;
}
.team-text32 {
  display: inline-block;
  text-align: center;
}
.team-fragment22 {
  display: contents;
}
.team-text27 {
  display: inline-block;
  text-align: center;
}
.team-fragment28 {
  display: contents;
}
.team-text33 {
  display: inline-block;
  text-align: center;
}
.team-fragment21 {
  display: contents;
}
.team-text26 {
  display: inline-block;
  text-align: center;
}
.team-fragment17 {
  display: contents;
}
.team-text19 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.team-fragment24 {
  display: contents;
}
.team-text29 {
  display: inline-block;
  text-align: center;
}
.team-fragment25 {
  display: contents;
}
.team-text30 {
  display: inline-block;
  text-align: center;
}
.team-fragment26 {
  display: contents;
}
.team-text31 {
  display: inline-block;
  text-align: center;
}
.team-fragment23 {
  display: contents;
}
.team-text28 {
  display: inline-block;
  text-align: center;
}
.team-fragment18 {
  display: contents;
}
.team-text20 {
  display: inline-block;
  text-align: center;
}
.team-fragment20 {
  display: contents;
}
.team-text25 {
  display: inline-block;
}
.team-fragment16 {
  display: contents;
}
.team-text18 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.team-fragment15 {
  display: contents;
}
.team-text17 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.team-fragment14 {
  display: contents;
}
.team-text16 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
@media(max-width: 991px) {
  .team-members-information-content2 {
    gap: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .team-members-information-row {
    align-items: center;
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .team-members-information-container1 {
    flex-direction: column;
  }
  .team-members-information-container2 {
    flex-direction: column;
  }
  .team-text24 {
    text-align: center;
  }
  .team-text20 {
    text-align: center;
  }
  .team-text25 {
    text-align: center;
  }
}

.footer-wrapper {
  display: contents;
}
.footer-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-credits {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-social-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
}
.footer-link1 {
  display: contents;
}
.footer-icon1 {
  text-decoration: none;
}
.footer-link2 {
  display: contents;
}
.footer-icon3 {
  text-decoration: none;
}
.team-fragment29 {
  display: contents;
}
.team-text34 {
  display: inline-block;
  align-self: center;
}

@media(max-width: 1200px) {
  .footer-container {
    padding-top: 0px;
  }
}
@media(max-width: 991px) {
  .footer-credits {
    flex-direction: column;
  }
  .footer-social-links {
    align-self: center;
  }
}
@media(max-width: 767px) {
  .footer-credits {
    flex-direction: column;
  }
  .footer-social-links {
    align-self: center;
  }
}
@media(max-width: 479px) {
  .footer-social-links {
    align-items: center;
    justify-content: center;
  }
  .footerroot-class-name {
    top: var(--dl-space-space-halfunit);
    left: 0px;
    bottom: 0px;
    height: auto;
    position: static;
  }
}

.team-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.team-fragment10 {
  display: contents;
}
.team-text10 {
  display: inline-block;
}
.team-fragment11 {
  display: contents;
}
.team-text11 {
  display: inline-block;
}
.team-fragment12 {
  display: contents;
}
.team-text12 {
  display: inline-block;
}
.team-fragment13 {
  display: contents;
}
.team-text13 {
  display: inline-block;
}
.team-fragment14 {
  display: contents;
}
.team-text16 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.team-fragment15 {
  display: contents;
}
.team-text17 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.team-fragment16 {
  display: contents;
}
.team-text18 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.team-fragment17 {
  display: contents;
}
.team-text19 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.team-fragment18 {
  display: contents;
}
.team-text20 {
  display: inline-block;
  text-align: center;
}
.team-fragment19 {
  display: contents;
}
.team-text24 {
  display: inline-block;
}
.team-fragment20 {
  display: contents;
}
.team-text25 {
  display: inline-block;
}
.team-fragment21 {
  display: contents;
}
.team-text26 {
  display: inline-block;
  text-align: center;
}
.team-fragment22 {
  display: contents;
}
.team-text27 {
  display: inline-block;
  text-align: center;
}
.team-fragment23 {
  display: contents;
}
.team-text28 {
  display: inline-block;
  text-align: center;
}
.team-fragment24 {
  display: contents;
}
.team-text29 {
  display: inline-block;
  text-align: center;
}
.team-fragment25 {
  display: contents;
}
.team-text30 {
  display: inline-block;
  text-align: center;
}
.team-fragment26 {
  display: contents;
}
.team-text31 {
  display: inline-block;
  text-align: center;
}
.team-fragment27 {
  display: contents;
}
.team-text32 {
  display: inline-block;
  text-align: center;
}
.team-fragment28 {
  display: contents;
}
.team-text33 {
  display: inline-block;
  text-align: center;
}
.team-fragment29 {
  display: contents;
}
.team-text34 {
  display: inline-block;
  align-self: center;
}
@media(max-width: 479px) {
  .team-text20 {
    text-align: center;
  }
  .team-text24 {
    text-align: center;
  }
  .team-text25 {
    text-align: center;
  }
}

a:hover {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
}