.ctf-schedule-layout349 {
  gap: var(--dl-space-space-twounits);
  width: 1200px;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.ctf-schedule-max-width {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ctf-schedule-general-ctf-container {
  width: 100%;
  height: auto;
}
.ctf-schedule-ctf-info-card1 {
  color: var(--dl-color-theme-neutral-light);
  height: auto;
  display: flex;
  align-self: flex-start;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-theme-primary2);
}
.ctf-schedule-ctf-info-card1:hover {
  background-color: var(--dl-color-theme-primary1);
}
.ctf-schedule-ctf-photo1 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  border-radius: 0px;
}
.ctf-schedule-ctf-info-card2 {
  color: var(--dl-color-theme-neutral-light);
  height: auto;
  display: flex;
  align-self: flex-start;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-theme-primary2);
}
.ctf-schedule-ctf-info-card2:hover {
  background-color: var(--dl-color-theme-primary1);
}
.ctf-schedule-ctf-photo2 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  border-radius: 0px;
}
.ctf-schedule-ctf-info-card3 {
  color: var(--dl-color-theme-neutral-light);
  height: auto;
  display: flex;
  align-self: flex-start;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-theme-primary2);
}
.ctf-schedule-ctf-info-card3:hover {
  background-color: var(--dl-color-theme-primary1);
}
.ctf-schedule-ctf-photo3 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  border-radius: 0px;
}
.ctf-schedule-fragment1 {
  display: contents;
}
.ctf-schedule-text1 {
  width: 306px;
  display: inline-block;
}
.ctf-schedule-fragment2 {
  display: contents;
}
.ctf-schedule-text2 {
  width: 311px;
  display: inline-block;
}
.ctf-schedule-fragment3 {
  display: contents;
}
.ctf-schedule-text3 {
  display: inline-block;
  text-align: center;
}
.ctf-schedule-fragment4 {
  display: contents;
}
.ctf-schedule-text4 {
  width: 306px;
  display: inline-block;
}
.ctf-schedule-fragment5 {
  display: contents;
}
.ctf-schedule-text5 {
  display: inline-block;
}
.ctf-schedule-fragment6 {
  display: contents;
}
.ctf-schedule-text6 {
  display: inline-block;
  text-align: center;
}
.ctf-schedule-fragment7 {
  display: contents;
}
.ctf-schedule-text7 {
  display: inline-block;
  text-align: center;
}
@media(max-width: 1200px) {
  .ctf-schedule-layout349 {
    height: auto;
    padding-top: var(--dl-space-space-fiveunits);
    margin-bottom: 0px;
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .ctf-schedule-max-width {
    position: relative;
  }
  .ctf-schedule-general-ctf-container {
    height: auto;
  }
}
@media(max-width: 991px) {
  .ctf-schedule-layout349 {
    width: 936px;
    height: auto;
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .ctf-schedule-max-width {
    height: auto;
    flex-direction: column;
  }
  .ctf-schedule-general-ctf-container {
    height: auto;
  }
}
@media(max-width: 767px) {
  .ctf-schedule-layout349 {
    width: 767px;
    height: auto;
  }
  .ctf-schedule-max-width {
    height: 560px;
  }
  .ctf-schedule-ctf-info-card1 {
    width: 100%;
  }
  .ctf-schedule-ctf-info-card2 {
    width: 100%;
  }
  .ctf-schedule-ctf-info-card3 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .ctf-schedule-layout349 {
    width: 479px;
    height: auto;
    margin-left: 0px;
  }
  .ctf-schedule-max-width {
    height: auto;
  }
  .ctf-schedule-general-ctf-container {
    height: auto;
    margin-bottom: 1px;
  }
}
