.footer-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
/* old style
.footer-credits {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
*/
.footer-credits {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Add this to separate icons and text */
  flex-direction: row; /* Ensure horizontal alignment */
}
.footer-social-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
}
.footer-link1 {
  display: contents;
}
.footer-icon1 {
  text-decoration: none;
}
.footer-link2 {
  display: contents;
}
.footer-icon3 {
  text-decoration: none;
}
.footer-fragment {
  display: contents;
}
.footer-text {
  display: inline-block;
  align-self: center;
}

@media(max-width: 1200px) {
  .footer-container {
    padding-top: 0px;
  }
}
@media(max-width: 991px) {
  .footer-credits {
    flex-direction: column;
  }
  .footer-social-links {
    align-self: center;
  }
}
@media(max-width: 767px) {
  .footer-credits {
    flex-direction: column;
  }
  .footer-social-links {
    align-self: center;
  }
}
@media(max-width: 479px) {
  .footer-social-links {
    align-items: center;
    justify-content: center;
  }
  .footerroot-class-name {
    top: var(--dl-space-space-halfunit);
    left: 0px;
    bottom: 0px;
    height: auto;
    position: static;
  }
}
