.navigation-bar-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.navigation-bar-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: idth;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.navigation-bar-nav-bar-photo {
  height: 4rem;
  border-radius: var(--dl-radius-radius-round);
}
.navigation-bar-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.navigation-bar-menu {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navigation-bar-home-link1 {
  transition: 0.3s;
  text-decoration: none;
}

.navigation-bar-schedule-link1 {
  text-decoration: none;
}
.navigation-bar-writeups-link1 {
  text-decoration: none;
}
.navigation-bar-team-link1 {
  text-decoration: none;
}
.navigation-bar-icons1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-bar-link1 {
  display: contents;
}
.navigation-bar-icon10 {
  align-self: center;
  text-decoration: none;
}
.navigation-bar-link2 {
  display: contents;
}
.navigation-bar-icon12 {
  text-decoration: none;
}
.navigation-bar-burger-menu {
  display: none;
}
.navigation-bar-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navigation-bar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
.navigation-bar-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navigation-bar-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navigation-bar-photo {
  height: 3rem;
}
.navigation-bar-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-bar-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navigation-bar-links {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.navigation-bar-home-link2 {
  text-decoration: none;
}
.navigation-bar-schedule-link2 {
  text-decoration: none;
}
.navigation-bar-writeups-link2 {
  text-decoration: none;
}
.navigation-bar-team-link2 {
  text-decoration: none;
}
.navigation-bar-icons2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
.navigation-bar-link3 {
  display: contents;
}
.navigation-bar-icon18 {
  text-decoration: none;
}
.navigation-bar-link4 {
  display: contents;
}
.navigation-bar-icon20 {
  text-decoration: none;
}
.navigation-bar-fragment1 {
  display: contents;
}
.navigation-bar-text1 {
  display: inline-block;
}
.navigation-bar-fragment2 {
  display: contents;
}
.navigation-bar-text2 {
  display: inline-block;
}
.navigation-bar-fragment3 {
  display: contents;
}
.navigation-bar-text3 {
  display: inline-block;
}
.navigation-bar-fragment4 {
  display: contents;
}
.navigation-bar-text4 {
  display: inline-block;
}
@media(max-width: 1200px) {
  .navigation-bar-nav-bar-photo {
    align-self: center;
  }
  .navigation-bar-burger-menu {
    position: relative;
  }
  .navigation-bar-icon14 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    align-self: stretch;
  }
  .navigation-bar-icon16 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
}
@media(max-width: 767px) {
  .navigation-bar-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navigation-bar-desktop-menu {
    display: none;
  }
  .navigation-bar-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .navigation-bar-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navigation-bar-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}
