.team-information-header19 {
  width: 1142px;
}
.team-information-max-width {
  align-self: center;
}
.team-information-uni-wa-image {
  width: 100%;
  height: auto;
  max-width: 550px;
  border-radius: var(--dl-radius-radius-radius4);
}
.team-information-team-information {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team-information-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.team-information-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team-information-global-ranking-button {
  fill: blue;
  color: blue;
  transition: 0.3s;
  border-color: blue;
  text-decoration: none;
  background-color: transparent;
}
.team-information-global-ranking-button:hover {
  fill: white;
  color: white;
  border-color: var(--dl-color-theme-primary2);
  background-color: var(--dl-color-theme-primary2);
}
.team-information-country-ranking-button {
  fill: blue;
  color: blue;
  transition: 0.3s;
  border-color: blue;
  text-decoration: none;
}
.team-information-country-ranking-button:hover {
  fill: white;
  color: white;
  border-color: var(--dl-color-theme-primary2);
  background-color: var(--dl-color-theme-primary2);
}
.team-information-fragment1 {
  display: contents;
}
.team-information-text3 {
  display: inline-block;
}
.team-information-fragment2 {
  display: contents;
}
.team-information-text4 {
  display: inline-block;
}
.team-information-fragment3 {
  display: contents;
}
.team-information-text5 {
  display: inline-block;
}
.team-information-fragment4 {
  display: contents;
}
.team-information-text6 {
  display: inline-block;
}
@media(max-width: 991px) {
  .team-information-header19 {
    width: 941px;
  }
  .team-information-max-width {
    flex-direction: column;
  }
  .team-information-uni-wa-image {
    width: 100%;
    max-width: 100%;
  }
}
@media(max-width: 767px) {
  .team-information-header19 {
    width: 767px;
  }
}
@media(max-width: 479px) {
  .team-information-header19 {
    width: 479px;
  }
  .team-information-actions {
    width: 100%;
    flex-direction: column;
  }
  .team-information-global-ranking-button {
    width: 100%;
  }
  .team-information-country-ranking-button {
    width: 100%;
  }
  .team-information-text3 {
    text-align: center;
  }
  .team-information-text5 {
    text-align: center;
  }
}
