.team-members-information-max-width {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.team-members-information-team-title {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team-members-information-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team-members-information-content2 {
  gap: var(--dl-space-space-sixunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team-members-information-people {
  gap: 64px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.team-members-information-row {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.team-members-information-container1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
.team-members-information-card1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team-members-information-placeholder-image1 {
  width: 80px;
  height: 80px;
}
.team-members-information-content3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team-members-information-title1 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team-members-information-social-icons1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team-members-information-link10 {
  display: contents;
}
.team-members-information-icon10 {
  text-decoration: none;
}
.team-members-information-link11 {
  display: contents;
}
.team-members-information-icon12 {
  text-decoration: none;
}
.team-members-information-link12 {
  display: contents;
}
.team-members-information-icon14 {
  text-decoration: none;
}
.team-members-information-card2 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team-members-information-placeholder-image2 {
  width: 80px;
  height: 80px;
}
.team-members-information-content4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team-members-information-title2 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team-members-information-social-icons2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team-members-information-link13 {
  display: contents;
}
.team-members-information-icon16 {
  text-decoration: none;
}
.team-members-information-link14 {
  display: contents;
}
.team-members-information-icon18 {
  text-decoration: none;
}
.team-members-information-link15 {
  display: contents;
}
.team-members-information-icon20 {
  text-decoration: none;
}
.team-members-information-container2 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.team-members-information-card3 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team-members-information-placeholder-image3 {
  width: 80px;
  height: 80px;
}
.team-members-information-content5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team-members-information-title3 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team-members-information-social-icons3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team-members-information-link16 {
  display: contents;
}
.team-members-information-icon22 {
  text-decoration: none;
}
.team-members-information-link17 {
  display: contents;
}
.team-members-information-icon24 {
  text-decoration: none;
}
.team-members-information-link18 {
  display: contents;
}
.team-members-information-icon26 {
  text-decoration: none;
}
.team-members-information-card4 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team-members-information-placeholder-image4 {
  width: 80px;
  height: 80px;
}
.team-members-information-content6 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team-members-information-title4 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team-members-information-social-icons4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team-members-information-link19 {
  display: contents;
}
.team-members-information-icon28 {
  text-decoration: none;
}
.team-members-information-link20 {
  display: contents;
}
.team-members-information-icon30 {
  text-decoration: none;
}
.team-members-information-link21 {
  display: contents;
}
.team-members-information-icon32 {
  text-decoration: none;
}
.team-members-information-hiring {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-direction: column;
}
.team-members-information-content7 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team-members-information-fragment10 {
  display: contents;
}
.team-members-information-text25 {
  display: inline-block;
}
.team-members-information-fragment11 {
  display: contents;
}
.team-members-information-text26 {
  display: inline-block;
  text-align: center;
}
.team-members-information-fragment12 {
  display: contents;
}
.team-members-information-text27 {
  display: inline-block;
  text-align: center;
}
.team-members-information-fragment13 {
  display: contents;
}
.team-members-information-text28 {
  display: inline-block;
  text-align: center;
}
.team-members-information-fragment14 {
  display: contents;
}
.team-members-information-text29 {
  display: inline-block;
  text-align: center;
}
.team-members-information-fragment15 {
  display: contents;
}
.team-members-information-text30 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.team-members-information-fragment16 {
  display: contents;
}
.team-members-information-text31 {
  display: inline-block;
  text-align: center;
}
.team-members-information-fragment17 {
  display: contents;
}
.team-members-information-text32 {
  display: inline-block;
  text-align: center;
}
.team-members-information-fragment18 {
  display: contents;
}
.team-members-information-text33 {
  display: inline-block;
  text-align: center;
}
.team-members-information-fragment19 {
  display: contents;
}
.team-members-information-text34 {
  display: inline-block;
  text-align: center;
}
.team-members-information-fragment20 {
  display: contents;
}
.team-members-information-text35 {
  display: inline-block;
  text-align: center;
}
.team-members-information-fragment21 {
  display: contents;
}
.team-members-information-text39 {
  display: inline-block;
}
.team-members-information-fragment22 {
  display: contents;
}
.team-members-information-text40 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.team-members-information-fragment23 {
  display: contents;
}
.team-members-information-text41 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.team-members-information-fragment24 {
  display: contents;
}
.team-members-information-text42 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
@media(max-width: 991px) {
  .team-members-information-content2 {
    gap: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .team-members-information-row {
    align-items: center;
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .team-members-information-container1 {
    flex-direction: column;
  }
  .team-members-information-container2 {
    flex-direction: column;
  }
  .team-members-information-text25 {
    text-align: center;
  }
  .team-members-information-text35 {
    text-align: center;
  }
  .team-members-information-text39 {
    text-align: center;
  }
}
