.writeups-boxes-container1 {
  height: auto;
}
.writeups-boxes-max-width {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.writeups-boxes-header-container {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.writeups-boxes-general-writeup-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.writeups-boxes-writeup-container1 {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.writeups-boxes-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
.writeups-boxes-button-container1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.writeups-boxes-link1 {
  fill: Blue;
  color: Blue;
  transition: 0.3s;
  border-color: Blue;
  text-decoration: none;
  background-color: transparent;
}
.writeups-boxes-link1:hover {
  fill: white;
  color: white;
  border-color: var(--dl-color-theme-primary2);
  background-color: var(--dl-color-theme-primary2);
}
.writeups-boxes-writeup-container2 {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.writeups-boxes-container3 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
.writeups-boxes-button-container2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.writeups-boxes-link2 {
  fill: Blue;
  color: Blue;
  transition: 0.3s;
  border-color: Blue;
  text-decoration: none;
  background-color: transparent;
}
.writeups-boxes-link2:hover {
  fill: white;
  color: white;
  border-color: var(--dl-color-theme-primary2);
  background-color: var(--dl-color-theme-primary2);
}
.writeups-boxes-fragment1 {
  display: contents;
}
.writeups-boxes-text17 {
  display: inline-block;
}
.writeups-boxes-fragment2 {
  display: contents;
}
.writeups-boxes-text18 {
  display: inline-block;
}
.writeups-boxes-fragment3 {
  display: contents;
}
.writeups-boxes-text19 {
  display: inline-block;
}
.writeups-boxes-fragment4 {
  display: contents;
}
.writeups-boxes-text20 {
  display: inline-block;
  text-align: center;
}
.writeups-boxes-fragment5 {
  display: contents;
}
.writeups-boxes-text21 {
  display: inline-block;
}
.writeups-boxes-fragment6 {
  display: contents;
}
.writeups-boxes-text22 {
  display: inline-block;
}
.writeups-boxes-fragment7 {
  display: contents;
}
.writeups-boxes-text23 {
  display: inline-block;
}
@media(max-width: 1200px) {
  .writeups-boxes-container1 {
    height: auto;
  }
  .writeups-boxes-general-writeup-container {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .writeups-boxes-container2 {
    padding-right: var(--dl-space-space-twounits);
  }
  .writeups-boxes-container3 {
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 991px) {
  .writeups-boxes-max-width {
    gap: var(--dl-space-space-twounits);
  }
  .writeups-boxes-general-writeup-container {
    flex-wrap: wrap;
  }
}
@media(max-width: 767px) {
  .writeups-boxes-max-width {
    flex-direction: column;
  }
  .writeups-boxes-general-writeup-container {
    flex-wrap: wrap;
  }
}
@media(max-width: 479px) {
  .writeups-boxes-container1 {
    height: auto;
  }
  .writeups-boxes-max-width {
    height: auto;
    justify-content: flex-start;
  }
  .writeups-boxes-general-writeup-container {
    height: auto;
    flex-wrap: wrap;
  }
  .writeups-boxes-button-container1 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
  .writeups-boxes-button-container2 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
}
